<!DOCTYPE html>
<html lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fd0b39862d.js" ></script>
    <title>Portfolio</title>
</head>
<body>
    <!-- MAIN FRAME -->
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_container_1">
                    <div class="profile_img_container">
                        <img 
                            src="images/Profile.jpeg" 
                            width="156px"
                            height="142px"
                            />
                    </div>
                    <div class="left_user_name"><%=user.name%></div>
                    <div class="left_user_title"><%=user.profession%></div>
                    <div class="left_icons">
                        <img src="icon/facebook.svg" alt="icon" width="25" height="21">
                        <img src="icon/instagram.svg" alt="icon" width="25" height="21">
                        <img src="icon/github.svg" alt="icon" width="25" height="21">
                        <img src="icon/telegram.svg" alt="icon" width="25" height="21">
                        <img src="icon/linkedin.svg" alt="icon" width="25" height="21">
                    </div>
                </div>
                <div class="marginer">
                    <hr class="hr">
          
                    <div class="user_data_container">
                      <div class="user_data_title">Age:</div>
                      <p class="user_data"><%=user.age%></p>
                    </div>
                    <div class="user_data_container">
                      <div class="user_data_title">Residence:</div>
                      <p class="user_data"><%=user.residence%></p>
                    </div>
                    <div class="user_data_container">
                      <div class="user_data_title">Freelance:</div>
                      <p style="color: rgb(91, 147, 7); size: 16px;" class="user_data"> <%=user.freelance[0]%></p>
                    </div>
                    <div class="user_data_container">
                      <div class="user_data_title">Adress:</div>
                      <p class="user_data"><%=user.adress%></p>
                    </div>
                  </div>

                <div class="left_lang_skill_container">
                    <hr class="hr">
                    <div class="empty_container">
                        <h3 class="h3_lang" >Languages</h3> 
                        <div class="lang_perc_container">
                            <div>Uzbek</div>
                            <p class="user_data">100%</p>
                        </div>
                        <div class="uzbek">
                                <div class="skills"></div>             
                        </div>

                        <div class="lang_perc_container">
                            <div>English</div>
                            <p class="user_data">90%</p>
                        </div>
                        <div class="english">
                                <div class="skills"></div>             
                        </div>

                        <div class="lang_perc_container">
                            <div>Korean</div>
                            <p class="user_data">70%</p>
                        </div>
                        <div class="korean">
                                <div class="skills"></div>             
                        </div>
                    </div>
                </div>

                <div class="left_lang_skill_container">
                    <hr class="hr">
                    <div class="empty_container">
                        <h3 class="h3_skill">Skills</h3> 
                        <div class="lang_perc_container">
                            <div>Html</div>
                            <p class="user_data">90%</p>
                        </div>
                        <div class="html_css">
                                <div class="skills"></div>             
                        </div>

                        <div class="lang_perc_container">
                            <div>NodeJs</div>
                            <p class="user_data">75%</p>
                        </div>
                        <div class="node_js">
                                <div class="skills"></div>             
                        </div>

                        <div class="lang_perc_container">
                            <div>JavaScript</div>
                            <p class="user_data">80%</p>
                        </div>
                        <div class="javascript">
                                <div class="skills"></div>             
                        </div>

                        <div class="lang_perc_container">
                            <div>Python</div>
                            <p class="user_data">90%</p>
                        </div>
                        <div class="python">
                                <div class="skills"></div>             
                        </div>
                        
                        <div class="lang_perc_container">
                            <div>Express&Django</div>
                            <p class="user_data">50%</p>
                        </div>
                        <div class="express_django">
                                <div class="skills"></div>             
                        </div>
                    </div>
                </div>
                <div class="extra_skill">
                    <hr class="hr">
                    <h3>Extra Skills</h3>
                    <div class="extra_skill_container">
                        <img src="icon/skill.png" alt="icon" width="20px" height="20px">
                        <p style="padding-left: 8px;">  bootstrap, Materialize </p>    
                    </div>

                    <div class="extra_skill_container">
                        <img src="icon/skill.png" alt="icon" width="20px" height="20px">
                        <p style="padding-left: 8px;">  react, aws, mongodb </p>    
                    </div>

                    <div class="extra_skill_container">
                        <img src="icon/skill.png" alt="icon" width="20px" height="20px">
                        <p style="padding-left: 8px;">  docker, graphql, nestjs </p>    
                    </div>
                    <div class="extra_skill_container">
                        <img src="icon/skill.png" alt="icon" width="20px" height="20px">
                        <p style="padding-left: 8px;">  Git knowledge </p>    
                    </div>
                </div>                
        <div class="midd_frame">
          <div id="midd_frame">
            <img src="icon/Polygon1.svg" alt="" class="springkle1" />
            <img src="icon/Ellipse15.svg" alt="" class="springkle2" />
            <img src="icon/Ellipse16.svg" alt="" class="springkle3" />
            <img src="icon/Ellipse 12.svg" alt="" class="springkle5" />
            <img src="icon/Rectangle 52.svg" alt="" class="springkle4" />
            <img src="icon/Rectangle 52.svg" alt="" class="springkle6" />

            <div class="wrapper">
              <h1>Hi, I am <%= user.name %> <%= user.profession %> in <%=user.work_place%></h1>
              <p><%=user.about_me%></p>
              <button>HIRE ME -></button>
            </div>
            <div class="img-container">
              <img style="width: 100%" src="images/your_Image.png" alt="" />
            </div>
          </div>
          <div class="services">
            <div class="services_to_center">
                <h1>My Services</h1>
                <p><%=user.service_desc%></p>
            </div>        
            <div class="myservice-container">
              <div class="myservice">
                <img src="box_images/web-development.svg" alt="" />
                <h5>Web development</h5>
                <p>Blog, E-commerce</p>
              </div>
              <div class="myservice">
                <img src="box_images/Illustration.png" alt="" />
                <h5>UI/UX Design</h5>
                <p>Mobile app, website design</p>
              </div>
              <div class="myservice">
                <img src="box_images/microphone.png" alt="" />
                <h5>Sound Design</h5>
                <p>Voice Over, Beat Making</p>
              </div>
              <div class="myservice">
                <img src="box_images/game-development.png" alt="" />
                <h5>Game Design</h5>
                <p>Character Design, Props & Objects</p>
              </div>
              <div class="myservice">
                <img src="box_images/Photographer.png" alt="" />
                <h5>photography</h5>
                <p>portrait, product photography</p>
              </div>
              <div class="myservice">
                <h5>Advertising</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                  nulla diam in ac dictum a urna
                </p>
                <p style="color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;",>ORDER NOW > </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <img class="right_icon_contrast" src="icon/contrast.png" alt="" />
          <div class="right-icons">
            <img class="home-icon" src="icon/Home.png" alt="" />
            <img class="right-icon" src="icon/Service.png" alt="" />
            <img class="right-icon" src="icon/Cv.png" alt="" />
            <img class="right-icon" src="icon/Portfolio.png" alt="" />
            <img class="right-icon" src="icon/Blog.png" alt="" />
            <img class="right-icon" src="icon/Contact.png" alt="" />
          </div>
        </div>
      </div>
</body>
</html>